@import url('https://fonts.googleapis.com/css?family=Catamaran');
@import "../../node_modules/foundation-sites/scss/foundation";

@include foundation-flex-grid;
@include foundation-flex-classes;
@include foundation-everything;

// GLOBAL
html, body {
    background-color: salmon;
    color: #000;
    font-family: 'Catamaran', sans-serif;
    font-weight: normal;
}

a {
    color: lightblue;
    text-decoration: none;
}
// BODY CONTAINER
.body_container {
    position: absolute;
    top: 70px;
    width: 100%;
    padding: 20px;
    background-color: salmon;
    height: 100vh;
}

// HEADER
.header {
    height: 70px;
    width: 100%;
    position: absolute;
    background-color: #272727;
    top: 0;
    left: 0;
}

.header {
    .login_form {
        position: absolute;
        top: 10px;
        right: 20px;
        width: 250px;

        input {
            display: inline;
            width: 120px;
            height: 20px;
            margin-right: 5px;
        }
        .login_submit {
            float: right;
            position: relative;
            top: -10px;
            width: 60px;
        }

        .login_error{
            position: relative;
            right: 2px;
            font-size: 13px;
            top: -10px;
            color: #fff;
            cursor: pointer;


        }
        .login_error:hover {
            color: lightblue;
        }
    }
    .nav {
        position: relative;
        top: 25px;
        left: 20px; 
        margin: 0;
        width: 200px;
    }

    .logout_button {
        float: right;
        position: relative;
        top: 0;
        right: 10px;
    }

    .header_link {
        list-style-type: none;
        display: inline;
    }

}

// SIGN UP
.signup_form_container, .forgot_form_container {
    margin: 0 auto;
    margin-top: 20px;
    line-height: 5px;

    form fieldset legend {
        font-size: 30px;
        padding-bottom: 10px;
    }

    .columns {
        margin: 0 auto;
    }

    .email_msg {
        font-size: 2em;
    }

    .forgot_success {
        display: none;
        font-size: 2em;
    }
}
// VERIFY
.verify_container {
    margin: 0 auto;
    margin-top: 20px;
    line-height: 5px;

    .columns {
        margin: 0 auto;
    }

    .verify_msg {
        font-size: 2em;
    }
}

// FORGOT PASSWORD
.forgot_form {
    .email_error{
        display: none;
    }
}
